@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

.hc-developer-widget {
  max-width: 440px;
  min-height: 105px;
  max-height: 180px;
  background: white;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  color: #0B1033;
  border-radius: 2px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: $font-family;

  &--dark {
    background: linear-gradient(180deg, #0E1C6C -32.83%, #2A377D -32.83%, #2A377D -32.81%, #584DC4 131.29%);
  }

  &--small {
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__logo-container {
    display: block;
    height: 41px;
    flex: 0 1 auto;
    width: auto;
    text-align: center;

    &--small {
      order: 3;
      width: 100%;
      flex: 0 1 auto;
    }
  }

  &__logo {
    width: 135px;
    height: 41px;
  }

  &__star-container {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-self: center;
    flex: 0 1 auto;
    width: auto;
    font-family: $font-family !important;

    &--small {
      order: 1;
    }
  }

  &__star {
    width: 30px;
    height: 30px;
  }

  &__rating {
    font-size: 22px;
    line-height: 35px;
    color: #0B1033;

    &--dark {
      color: white;
    }
  }

  &__review-container {
    height: 20px;
    display: flex;
    gap: 4px;
    line-height: 20px;
    flex: 0 1 auto;
    width: auto;
    font-family: $font-family !important;

    &--small {
      order: 2;
    }
  }

  &__based {
    color: #0B1033 !important;
    font-size: 14px !important;

    &--dark {
      color: white !important;
    }
  }

  &__review {
    text-decoration: underline !important;
    color: #0B1033 !important;
    font-size: 14px !important;

    &--dark {
      color: white !important;
    }
  }
}
